@use './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: variables.$body-background-color;
  font-family: variables.$body-font-family;
  font-size: variables.$body-font-size;
  font-style: variables.$body-font-style;
  line-height: variables.$body-line-height;
  color: variables.$body-color;
  text-align: left;
  letter-spacing: variables.$body-letter-spacing;
  text-transform: none;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a[class] {
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
input,
button,
textarea,
select {
  outline: none;
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.taj {
  text-align: justify;
}

[data-locale='en'] {
  .taj {
    text-align: left;
  }
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
