// body
$body-color: #333;
$body-background-color: #fff;
$body-font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Yu Gothic',
  YuGothic, 'メイリオ', meiryo, sans-serif;
$body-font-size: 1.1rem;
$body-font-style: normal;
$body-line-height: 1.27272;
$body-letter-spacing: 0;
